<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/logs/ushow/audio-collection-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else the rollover logs are placed in the working directory. -->
            <fileNamePattern>/data/logs/ushow/audio-collection-server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.log4j.RollingFileAppender" level="WARN">
    </logger>

    <springProfile name="dev">
        <logger name="com.ushow.tv" level="DEBUG" />
        <logger name="org.springframework.jms" level="DEBUG" />
    </springProfile>
    <springProfile name="test">
        <logger name="com.ushow.tv" level="DEBUG" />
    </springProfile>
    <springProfile name="product">
        <logger name="com.ushow.tv" level="INFO" />
    </springProfile>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>